.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}

.container {
  position: absolute;
  width: 1600px;
  height: 768px;
  left: 0px;
  top: 0px;
  background: #f3f4f6;
}

.logo {
  position: absolute;
  left: 65px;
  right: 85%;
  top: 25px;
  bottom: 97.53%;
  background-color: none;
  fill: #ef4444;
}

.description {
  position: absolute;
  width: 500px;
  height: 128px;
  left: 586px;
  top: 430px;

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}

.title {
  position: absolute;
  width: 768px;
  height: 192px;
  left: 576px;
  top: 95px;

  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 96px;
  color: #000000;
  z-index: 1;
}

.circleBig {
  position: absolute;
  width: 1196px;
  height: 1196px;
  left: 988px;
  top: -598px;
  border-radius: 50%;
  background: #ef4444;
}

.circle {
  position: absolute;
  width: 480px;
  height: 480px;
  left: 64px;
  top: 280px;
  border-radius: 50%;
  background: #ef4444;
}

.ballon {
  position: absolute;
  width: 398px;
  height: 480px;
  left: 64px;
  top: 132px;
  z-index: 1;
  background: url(9bf232b4fb79227435a711f7da);
}

.background {
  position: absolute;
  width: 1600px;
  height: 756px;
  left: 0px;
  top: 768px;

  background: #ffffff;
}

.item {
  padding: 15px;
  border: 4px solid none;
}

.box {
  position: absolute;
  width: 850px;
  height: 350px;
  top: 250px;
  left: 215px;
  display: grid;
  grid-column-gap: 25px;
  grid-row-gap: 15px;
  margin-bottom: 10px;
  grid-template-columns: 285px 285px 285px 285px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  grid-auto-rows: minmax(200, auto);
}

.item_2 h1 {
  white-space: nowrap;
}

.item_1 h1 {
  white-space: nowrap;
}

.subtitle {
  position: absolute;
  width: 229px;
  height: 24px;
  left: 232px;
  top: 75px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  white-space: nowrap;
  color: #ef4444;
}

.title-page2 {
  position: absolute;
  width: 640px;
  height: 70px;
  left: 225px;
  top: 65px;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
}

.down {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 1220px;
  top: -47px;
  background: none;
}

.background1 {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 740px;
  background: #f3f4f6;
}

.circle1 {
  position: absolute;
  width: 640px;
  height: 640px;
  left: 860px;
  top: 150px;
  border-radius: 50%;
  background: #ef4444;
}

.atartuk {
  position: absolute;
  width: 562px;
  height: 530px;
  left: 774px;
  top: 70px;
  background: url(kisspng-mustafa-kemal-atatrk-antkabir-10th-of-november-atatuumlrk-5b3cf4239fad26.png);
}

.name {
  position: absolute;
  width: 536px;
  height: 144px;
  left: 170px;
  top: 100px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  text-align: right;
  color: #000000;
}

.president {
  position: absolute;
  width: 387px;
  height: 72px;
  left: 319px;
  top: 300px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: right;
  color: #000000;
}

.more {
  position: absolute;
  width: 138px;
  height: 36px;
  left: 529px;
  top: 420px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: right;
  text-decoration-line: underline;
  color: #ef4444;
}

.right {
  position: absolute;
  width: 24px;
  height: 20px;
  left: 679px;
  top: 460px;
  background: none;
}

.background2 {
  position: absolute;
  width: 1600px;
  height: 920px;
  left: 0px;
  top: 1340px;
  background: #111827;
}

.place {
  position: absolute;
  width: 490px;
  height: 144px;
  left: 555px;
  top: 30px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  text-align: center;
  color: #f9fafb;
}

.club {
  position: absolute;
  width: 540px;
  height: 32px;
  left: 530px;
  top: 240px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #f9fafb;
}

.itemm {
  padding: 15px;
  border: 4px solid none;
}

.square {
  position: absolute;
  width: 420px;
  height: 420px;
  left: 597px;
  top: 550px;
  background: #10b981;
  transform: rotate(-45deg);
}

.box2 {
  position: absolute;
  width: 500px;
  height: 350px;
  top: 340px;
  left: 150px;
  display: grid;
  grid-column-gap: 25px;
  grid-row-gap: 15px;
  margin-bottom: 10px;
  grid-template-columns: 240px 240px 240px 240px 240px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  grid-auto-rows: minmax(200, auto);
  color: #f9fafb;
  text-align: center;
  z-index: 1;
}

.itemm_1 h1 {
  white-space: nowrap;
}

.itemm_7 h1 {
  white-space: nowrap;
}

.itemm_8 h1 {
  white-space: nowrap;
}

.background3 {
  position: absolute;
  width: 1600px;
  height: 346px;
  left: 0px;
  top: 2260px;
  background: #9ca3af;
}

.logo1 {
  position: absolute;
  left: 65px;
  top: 25px;
}

.dis {
  position: absolute;
  width: 640px;
  height: 72px;
  left: 64px;
  top: 80px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.divider {
  position: absolute;
  width: 1472px;
  height: 2px;
  left: 64px;
  top: 250px;
  background: rgba(249, 250, 251, 0.5);
}

.text {
  position: absolute;
  width: 144px;
  height: 16px;
  left: 64px;
  top: 260px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #f9fafb;
  white-space: nowrap;
}

.about {
  position: absolute;
  width: 50px;
  height: 24px;
  left: 1156px;
  top: 15px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #f9fafb;
}

.information {
  position: absolute;
  width: 117px;
  height: 24px;
  left: 1332px;
  top: 15px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #f9fafb;
}

.box3 {
  position: absolute;
  width: 300px;
  height: 100px;
  top: 70px;
  right: 150px;
  display: grid;
  grid-template-columns: 150px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #f9fafb;
}

.box4{
  position: absolute;
  width: 300px;
  height: 100px;
  top: 70px;
  left: 1325px;
  display: grid;
  grid-template-columns: 150px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #f9fafb;
}

.itemmm {
  padding: 5px;
  border: 40px solid none;
  white-space: nowrap;
}
