.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}
.block__row {
  padding-top: 200px;
  padding-left: 580px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3.5rem;
}
.block__element {
  font-family: "Arial";
  font-style: normal;
  color: #000000;
}
.block__element_1 {
  width: 768px;
  height: 192px;
  left: 576px;
  top: 95px;
  font-weight: 700;
  font-size: 96px;
  line-height: 96px;
  z-index: 1;
}
.block__element_2 {
  width: 500px;
  height: 128px;
  left: 586px;
  top: 430px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}
.header {
  position: relative;
  width: 1600px;
  height: 768px;
  left: 0px;
  top: 0px;
  background: #f3f4f6;
}
.header__logo {
  position: absolute;
  left: 65px;
  right: 85%;
  top: 25px;
  bottom: 97.53%;
  background-color: none;
}
.header__ballon {
  position: absolute;
  width: 398px;
  height: 480px;
  left: 64px;
  top: 132px;
  z-index: 1;
  background: url(9bf232b4fb79227435a711f7da);
}
.header__circle {
  position: absolute;
  width: 480px;
  height: 480px;
  left: 64px;
  top: 280px;
  border-radius: 50%;
  background: #ef4444;
}
.header__circleBig {
  position: absolute;
  width: 1196px;
  height: 1196px;
  left: 988px;
  top: -598px;
  border-radius: 50%;
  background: #ef4444;
}
.content {
  position: absolute;
  width: 1600px;
  height: 756px;
  left: 0px;
  top: 768px;
}
.container__row {
  padding-top: 65px;
  padding-left: 225px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  display: grid;
}
.container__item {
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}
.container__element-1 {
  width: 229px;
  height: 24px;
  padding-top: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  white-space: nowrap;
  color: #ef4444;
}
.container__element-2 {
   width: 640px;
  height: 70px;
  left: 210px;
  padding-top: 10px;
  white-space: nowrap;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
}
.content__icon {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 1220px;
  top: -47px;
  background: none;
}
.box__row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  display: grid;
  width: 850px;
  height: 350px;
  padding-top: 40px;
  padding-left: 210px;
  grid-column-gap: 25px;
  grid-row-gap: 15px;
  margin-bottom: 10px;
  grid-template-columns: 305px 305px 305px 305px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  grid-auto-rows: minmax(200, auto);
  white-space: nowrap;
  line-height: 24px;
  font-weight: 600;
}
.box__item {
  padding: 15px;
  border: 4px solid none;
}
.box__item h1 {
  white-space: nowrap;
}
.article {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 1524px;
  background: #f3f4f6;
}
.box__item {
  padding: 15px;
  border: 4px solid none;
}
.box__element h1 {
  white-space: nowrap;
}
.text__row{
  display: flex;
  flex-direction: column;
}
.text__item {
  padding: 12px;
  border: 4px solid none;
}
.text__element_1 {
   width: 536px;
  height: 144px;
  padding-left: 170px;
  padding-top: 130px;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  text-align: right;
}
.text__content {
  font-family: "Arial";
  font-style: normal;
  color: #000000;
}
.text__element-2 {
  width: 387px;
  height: 72px;
  padding-left: 329px;
  top: 300px;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: right;
}
.text__element_3 {
  width: 138px;
  height: 36px;
  padding-left: 545px;
  top: 420px;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: right;
  text-decoration-line: underline;
  color: #ef4444;
}
.text__element_3 p{
  color: #ef4444;
}
.article {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 1524px;
  background: #f3f4f6;
}
.article__right {
  position: absolute;
  width: 24px;
  height: 20px;
  left: 693px;
  top: 435px;
  background: none;
}
.article__person {
  position: absolute;
  width: 562px;
  height: 530px;
  left: 774px;
  top: 70px;
  background: url(kisspng-mustafa-kemal-atatrk-antkabir-10th-of-november-atatuumlrk-5b3cf4239fad26.png);
  z-index: 1;
}
.article__circle {
  position: absolute;
  width: 640px;
  height: 640px;
  left: 860px;
  top: 150px;
  border-radius: 50%;
  background: #ef4444;
}
.top__row {
    display: flex;
    flex-direction: column;
}
.top__item {
  padding: 15px;
}
.top__element-1 {
  width: 490px;
  height: 144px;
  padding-left: 555px;
  padding-top: 100px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  text-align: center;
  color: #f9fafb;
}
.top__element_2 {
  width: 540px;
  height: 32px;
  padding-left: 530px;
  padding-top: 10px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #f9fafb;
}
.section {
  position: relative;
  width: 1600px;
  height: 920px;
  left: 0px;
  top: 1356px;
  background: #111827;
}
.list__row {
  width: 500px;
  height: 350px;
  padding-top: 4px;
  padding-left: 130px;
  display: grid;
  grid-column-gap: 25px;
  grid-row-gap: 15px;
  margin-bottom: 10px;
  grid-template-columns: 250px 250px 250px 250px 250px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  grid-auto-rows: minmax(200, auto);
  color: #f9fafb;
  text-align: center;
  line-height: 170%;
}
.list__item {
  padding: 15px;
  border: 5px solid none;
  z-index: 1;
}
.list__element h1{
  white-space: normal;
}
.section__sqaure {
  position: absolute;
  width: 420px;
  height: 420px;
  left: 597px;
  top: 550px;
  background: #10b981;
  transform: rotate(-45deg);
}
.footer {
  position: relative;
  width: 1600px;
  height: 346px;
  left: 0px;
  top: 1356px;
  background: #9ca3af;
}
.footer__logo {
  position: absolute;
  left: 65px;
  top: 45px;
}
.colums{
  padding-left: 1150px;
  padding-top: 30px;
  display: flex;
  column-gap: 20px;
}
.colums__title{
  text-decoration:none;
  font-weight: 700;
  padding-bottom: 20px;
}
.colums__item{
  width: 30%;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  text-decoration: underline;
  white-space: nowrap;
  color: #f9fafb;
}
.about__row {
  display: grid;
  padding-left: 64px;
  padding-top: 1150px;

}
.about__element {
  z-index: 1;
}
.about__item_1 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.about__item_2 {
  height: 2px;
  margin-top: 60px;
  padding-left: 0px;
}
.about__item_3 {
  margin-top: 25px;
}
.about__content{
  width: 1472px;
  height: 2px;
  background: rgba(249, 250, 251, 0.5);
}
.about__text{
  width: 640px;
  height: 72px;
  left: 64px;
  top: 80px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.about__year{
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #f9fafb;
  white-space: nowrap;
}
